@using UnivSite.Models

@model UnivSite.Models.StudentDetails.StudentDetailsModel




<div class="container">
    <div>
        <h2>Online Students Form</h2>
    </div>
    <div>
        <label>Status  : </label>
        <label>Not Started</label>
    </div>
    <div class="row" >
        <div class="col-md-6" >
            <div class="vertical-tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Personal Details</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Academic Details</a></li>
                    <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Address Details</a></li>
                    <li role="presentation"><a href="#Section4" aria-controls="messages" role="tab" data-toggle="tab">Fee Details</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <h3>Personal Details</h3>
                        <div id="PersonalDetailsDiv">
                            @Html.Partial("~/Views/Home/PersonalDetails.cshtml", Model.PersonalDetails)
                        </div>
                        
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <h3>Academic Details</h3>
                        <div id="AcademicDetailsDiv">
                            @Html.Partial("~/Views/Home/AcademicDetails.cshtml", Model.AcademicDetails)</div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">
                            <h3>Address Details</h3>
                            <div id="AddressDetailsDiv">
                                @Html.Partial("~/Views/Home/AddressDetails.cshtml", Model.AddressDetails)
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section4">
                            <h3>Fee Details</h3>
                            <div id="FeeDetailsDiv">
                                @Html.Partial("~/Views/Home/FeeDetails.cshtml", Model.FeeDetails)
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(documnet).ready(function () {
        // this is the id of the form
        $("#PersonaDetailsForm").submit(function (e) {
            debugger;
            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    debugger;
                    $('#PersonalDetailsDiv').html(data);
                }
            });


        });
    })
</script>